/* Para Gif - Inicio */

.Loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 1080px;
    background-color: rgba(255, 255, 255, 0.7);
}

.CLASSE_VSA {
    position: relative;
    top: 3%;
    left: 90%;
    margin-right: -5%;
    max-width: 300px;
}

.CLASSE_CBA {
    position: relative;
    top: 2.5%;
    left: 0%;
    margin-right: -5%;
}


.LoadingFalse {
    display: none;
}


/* Para Gif - Fim */
#backBtn {
    visibility: hidden;
}

.sapUshellHeadTitle{
	visibility: hidden;
}

.sapUshellShellHeadCenter{
	visibility: hidden;
}

/* Tamanho do number da lista - Inicio */
.sapMObjectNumberText{
	font-size:1.00rem;
	line-height: 37px;
} 

.sapMObjLNumberDiv .sapMObjectNumber .sapMObjectNumberText {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.00rem;
    font-weight: normal;
}
/* Tamanho do number da lista - Fim */ 

.sapUiSizeCompact .sapUiTableCell .sapMLabel,
.sapUiSizeCondensed .sapUiTableCell .sapMLabel,
.sapUiSizeCompact .sapUiTableColCell>.sapMLabel,
.sapUiSizeCondensed .sapUiTableColCell>.sapMLabel {
    font-weight: normal;
    font-size: 0.7rem;
}

.sapMTextMaxLine {
    font-variant: small-caps;
    font-size: small;
    padding-top: 10px;
    white-space: nowrap;
}

.sapMTextNoWrap {
    text-overflow: ellipsis;
    word-wrap: normal;
}

.fundotext{
	background: white;
	font-style: italic;
}

.NewButton{
	padding-left: 50%;
}