.iframe {
    position: relative;
    margin-top: 0px;
    border: 0;
    width: 100%;
    height: 100%;
}

.sapUiBody.sapUShellFullHeight.sapUiSizeCompact {
    width: 100%;
    height: 100%;
}

div#application-Test-url-component---detail--FormChange480_12120--Grid {
    width: 100%;
    height: 100%;
}

.sapUiFormResGridLastContM.sapUiFormResGridLastRowXL.sapUiFormResGridLastRowL.sapUiFormResGridLastRowM.sapUiFormResGridFirstRowXL.sapUiFormResGridFirstRowL.sapUiFormResGridFirstRowM.sapUiRespGridBreakL.sapUiRespGridBreakXL.sapUiRespGridSpanL6.sapUiRespGridSpanM12.sapUiRespGridSpanS12.sapUiRespGridSpanXL6 {
    width: 100%;
    height: 100%;
}

div#__container2--Grid {
    width: 100%;
    height: 100%;
}

div#__vbox4 {
    height: 100%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0>.sapUiRespGridSpanM12 {
    height: 100%;
}

div#__data54 {
    height: 100%;
}

.sapUiRespGridBreak.sapUiRespGridSpanL12.sapUiRespGridSpanM12.sapUiRespGridSpanS12.sapUiRespGridSpanXL12 {
    height: 100%;
}

.sapMTextMaxLine {
    font-variant: small-caps;
    font-size: medium;
    padding-top: 10px;
}